.App {
  min-height: 100vh;
  text-align: center;
  background-color: hsl(240, 20%, 80%);
  display: flex;
}

.calculator {
  width: 400px;
  min-height: 425px;
  position: relative;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  margin: auto;
  padding: 5px;
}

.display {
  font-size: 1.2rem;
  font-weight: 800;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.buttons {
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 0.5fr;
  gap: 1px;
}

button {
  height: 65px;
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 800;
  border: none;
}

.clear {
  background-color: rgb(172, 57, 57);
}

.division,
.multiplication {
  background-color: rgb(102, 102, 102);
}